{
  "extends": [
    "@wsmd/eslint-config/react",
    "@wsmd/eslint-config/prettier",
    "@wsmd/eslint-config/jest"
  ],
  "rules": {
    "getter-return": "off",
    "consistent-return": "off"
  },
  "overrides": [
    {
      "files": ["test/**/*.js"],
      "rules": {
        "react/jsx-props-no-spreading": "off",
        "react/jsx-filename-extension": "off",
        "jsx-a11y/control-has-associated-label": "off"
      }
    }
  ]
}
