{
  "extends": ["airbnb", "prettier"],
  "env": {
    "jest": true
  },
  "rules": {
    "consistent-return": "off",
    "getter-return": "off",
    "arrow-parens": ["error", "as-needed"],
    "react/jsx-filename-extension": ["error", { "extensions": [".js", ".jsx"] }]
  }
}
